@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
  font-family: 'Patrick Hand', cursive;
}

.app{
  /* padding: 5% 20vw; */
  width: 65vw;
  margin: 5% auto;
}

h2{
  margin-bottom: 20px;
  font-size: 40px;
}


.subtext{
  margin-bottom: 30px;
}

.item{
  display: flex;
  margin-bottom: 30px;
}

.item.last{
  margin-bottom: 0;
}

.item a{
  text-decoration: none;
  color: #000;
  border-bottom: 1.5px solid #000;
  padding-bottom: 1px;
}

.item .link {
  margin-right: 3vw;
  width: 150px;
}

.link span{
  margin-right: 2px;
}

.arrow{
  display: flex;
  align-items: flex-end;
}

.man{
  position: absolute;
  right: 15vw;
  bottom: 5%;
  z-index: -1;
}

@media screen and (max-width: 900px) {
  .app{
    width: 90vw;
  }
  .item .link{
    margin-right: 1vw;
  }
}

@media screen and (max-width: 650px) {
  .app{
    width: 95vw;
  }
  .item {
    flex-direction: column;
  }
  .item .link{
    margin-bottom: 15px;
  }
  .man{
    position: static;
  }
}